.main-header {
    display: grid;

    background-color: rgba(0, 0, 0, .6);
    background-image: url("../images/kia-rio.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 100px;
}

.h1-title {
    font-family: 'Baskervville', sans-serif;
    color: #F0803C;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
}